body {
    background-color: #E6ECF0;
}

#main {
    padding: 20px;
}

.box-default {
    border: 1px solid rgb(218, 218, 218);
    padding: 15px;
}

#search {
    background-color: #E5F6FC;
    justify-content: center;
    display: flex;
}

.btn-apply {
    background-color: rgb(102, 157, 212);
    border: 1px solid #63a3ce;
    border-radius: 5px;
    color: white;
    padding: 10px;
    transition: 0.4s;
    cursor: pointer;
}

.btn-apply:hover {
    background-color: rgb(45, 91, 136);
}

#btn-search {
    margin-left: 10px;
    width: 25%;
}

#btn-algo {
    width: 100%;
}

input[type=text] {
    background-color: white;
    border: 1px solid #90bcda;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: #00A9E6;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

#content {
    display: flex;
}

.sidebar {
    height: 100%;
    padding: 0;
}

.sidebar-part {
    background-color: white;
    margin-top: 10px;
    height: 100%;
}

.sidebar #select {
    background-color: white;
    border: 1px solid #90bcda;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    color: #00A9E6;
}

.sidebar #select option {
    padding: 10px;
    color: #00A9E6;
}

.sub-sidebar {
    margin: 10px 3px 20px 3px;
}

.sub-sidebar h1 {
    font-size: 1em;
}

#tweet {
    margin-top: 10px;
}

#tweet-list {
    background-color: white;
    border-top: none;
    padding: 0;
}

.tweet-single {
    height: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(218, 218, 218);
    padding: 0;
    display: flex;
    transition: 0.2s;
}

.tweet-single:hover {
    background-color: #e6ebef;
}

/*.spam-tag, .tweet-section {
    padding: 5px;
}*/

.spam-tag {
    font-weight: bold;
    font-size: 1.3em;
    width: 100px;
    text-align: center;
    top: 50%;
    padding-left: 15px;
}

.spam-true {
    color: #e29104;
}

.spam-false {
    color: #1490bc;
}

.tweet-section {
    display: flex;
    padding-right: 15px;
}

.tweet-image {
    margin: 5px;
    padding: 5px;
}

.tweet-image img {
    border-radius: 50%;
}

.tweet-content {
    font-size: 0.88em;
    margin-top: 10px;
}

.tweet-names {
    display: flex;
}

.tweet-name {
    font-size: 1em;
    font-weight: bold;
    margin-top: auto;
    margin-right: 10px;
}

.tweet-uname {
    font-size: 1em;
    color: grey;
    margin-top: auto;
}